# Ignore pickles
*.pkl
**/*.pkl

#Ignore checkpoint files
.ipynb_checkpoints

#Ignore .csv
.csv

#Ignore data folder
data/

#Ignore word vectors
models/asc/wordvectors/

#Ignore checkpoints
models/checkpoints/

#Ignore runs
runs/

#Ignore pictures
models/asc/files/
models/asc/large_model_files

#Ignore large file
models/TAU2019_autoenc/autoenc_model/tau2019_events_panns_tSNE_plotting_.ipynb
models/TAU2019_autoenc/autoenc_model/tau2019_kmeans_clustering.ipynb