# Ignore pickles
*.pkl
**/*.pkl

#Ignore checkpoint files
.ipynb_checkpoints/

#Ignore .csv
*.csv
*.log
*.png
*.pth

#Ignore data folder
data/

#Ignore word vectors
models/asc/wordvectors/

#Ignore checkpoints
models/checkpoints/
models/asc/largemodel_checkpoint/

#Ignore runs
runs/

#Ignore pictures
models/asc/files/
models/asc/large_model_files